# Kickstart file - Minimal install
# If you are running this manually without the customized iso you'll want to
# press tab to interupt the standard install and add the below parameters:
#
# vmlinuz initrd=initrd.img inst.ks=http://installs.truemark.io/ol/7/base-ks.cfg inst.txt quite

#Install OS
install

# Use network installation
cdrom

# Set OS Lang/Format & Date/Time
lang en_US.UTF-8
timezone --utc America/Denver

# Set Keyboard 
keyboard us

# Set up network information
network --onboot yes --device ens192 --bootproto=dhcp --noipv6 --hostname ol7

# Configure method of authentication
authconfig --enableshadow --passalgo=sha512

# Set root password
rootpw "truemark"

# Setup general user
user --name=user --groups=wheel --plaintext --password=truemark

# Firewall disabled initially
firewall --disabled

# Disable SELinux
selinux --disabled

# System bootloader configuration
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb"

# Partition clear all partitions
clearpart --all --drives=sda

# This clears the master boot record on the hard drive
zerombr

# Disk partitioning information
part /boot --fstype=ext4 --asprimary --size=500

# Create Logical Volumes
part pv.vg1 --size=1 --grow --ondisk=sda
volgroup vg1 pv.vg1

# Configure logical volumes
logvol swap --fstype=swap --name=swap --vgname=vg1 --size=16000
logvol / --fstype=ext4 --name=root --vgname=vg1 --size=8000
logvol /home --fstype=ext4 --name=home --vgname=vg1 --size=2000
logvol /tmp --fstype=ext4 --name=tmp --vgname=vg1 --size=2000
logvol /var --fstype=ext4 --name=var --vgname=vg1 --size=6000
logvol /var/log --fstype=ext4 --name=varlog --vgname=vg1 --size=2000

# Packages to be installed
%packages
@base
@core
openssh-server
ntp
open-vm-tools
ethtool
curl
%end

# Reboot after install
reboot
